.fs-14 {
    font-size: 14px;
}

.fs-12 {
    font-size: 12px;
}

main {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1443' height='560' preserveAspectRatio='none' viewBox='0 0 1443 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3cpath d='M 0%2c99 C 144.4%2c139.6 433.4%2c286.4 722%2c302 C 1010.6%2c317.6 1298.8%2c202 1443%2c177L1443 560L0 560z' fill='rgba(21%2c 124%2c 134%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1443' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-position: center;
    background-size: cover;
}

.row {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
}

.form-control {
    border: none;
    border-radius: 0;
}

.input-container::after {
    content: "";
    position: absolute;
    width: 0px;
    height: 4px;
    background-color: gray;
    bottom: 0;
    left: 0;
    z-index: 100;
    transition: 0.4s;
}

.form-control:focus {
    box-shadow: none;
    border: none;
}

body:has(#userName:focus) #userNameContainer::after,
body:has(#email:focus) #emailContainer::after,
body:has(#password:focus) #passwordContainer::after,
body:has(#confirmedPassword:focus) #confirmedPasswordContainer::after {
    width: 100%;
}

input[password]::-ms-reveal {display : none ;}
